/*--------------- basic styling --------------- */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif !important;
  background: #ffffff !important;
  color: #58595B !important;
}

body {
  overflow-x: hidden !important;
}

p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.3px;
  word-spacing: 2px;
  line-height: 1.4;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.color-y {
  color: #FFE36A;
}

.color-p {
  color: #F147AC;
}

.sdow-y {
  box-shadow: -9px 0px #FFE36A;
}

.sdow-p {
  box-shadow: -9px 0px #F147AC;
}

.l-algn {
  padding-left: 15%;
}

/*--------------- navigation --------------- */
nav {
  width: 100%;
  z-index: 1;
  position: absolute;
}
nav #brand {
  margin: 2% 3% 1% 4%;
  width: 30%;
}
nav #brand .logo {
  width: 50%;
}
nav #menu {
  margin: 4% 1%;
  width: 70%;
  padding-left: 16%;
}
nav #menu li {
  padding-left: 15%;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  line-height: 80px;
  position: relative;
  transition: all 0.3s ease-out;
}
nav #menu li span {
  font-weight: 700;
}
nav #menu li a {
  color: #ff0085;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 400;
}
nav #menu li a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
nav #menu li a.active {
  color: #FFE36A;
}

#toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
  font-size: 18px;
  font-weight: bold;
  color: #e8488b;
}
#toggle:hover {
  text-decoration: underline;
  text-underline-position: under;
}

#resize {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}
#resize .close-btn {
  position: absolute;
  right: 16px;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
  font-size: 18px;
  font-weight: bold;
  color: #e8488b;
}
#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}
#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
#resize #menu li a {
  font-size: 18px;
  font-weight: bold;
  color: #e8488b;
}
#resize #menu li a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
#resize.active {
  visibility: visible;
  opacity: 1;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

/*--------------- content section --------------- */
.content-section {
  background: #58595b;
  padding: 5% 0 7% 0;
  color: #ffffff;
}
.content-section.content-sd {
  background: #ffffff !important;
  color: #58595B;
}
.content-section.content-sd img {
  width: 60% !important;
  padding-left: 10%;
}
.content-section.content-sd .delivery-one {
  margin-bottom: 60%;
}
.content-section.content-sd .delivery-two {
  margin-top: 100%;
}
.content-section.content-sd .delivery-three {
  margin-top: 80%;
}
.content-section p {
  font-size: 15.5px;
  font-weight: 400;
}
.content-section p.team-bio {
  font-size: 18px;
  font-weight: 100;
}
.content-section .content-details .content-detail-section {
  margin: 5% 0 10% 0;
}
.content-section .content-details .content-detail-section .content-image {
  max-width: 100%;
  max-height: 100%;
}
.content-section .content-details .content-detail-section .content-image img {
  height: auto;
  width: 100%;
  border-radius: 25px;
}
.content-section .content-details .content-detail-section .content-description {
  padding: 8% 1% 9% 7%;
}
.content-section .content-details .content-detail-section .content-description.global-strategy {
  padding: 8% 7% 9% 1% !important;
}
.content-section .content-details .content-detail-section .content-services {
  padding: 1% 7% 1% 4%;
}
.content-section .content-details .content-detail-section .content-services .services-one {
  margin-bottom: 10%;
}
.content-section .content-details .content-detail-section .content-services .services-two {
  margin-top: 20%;
}
.content-section .content-details .content-detail-section .content-services .services-three {
  margin-top: 100%;
}
.content-section .content-details .content-detail-section .content-services .services-four {
  margin-top: 80%;
}
.content-section .content-details .content-detail-section .content-services.col-left {
  padding: 1% 4% 1% 7%;
}
.content-section .content-details .sd-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5%;
}
.content-section .sub-header {
  font-size: 30px;
  color: #FFE36A;
}
.content-section .sub-header.sub-header-b {
  color: #58595B;
}

.content-img-title {
  position: relative;
  text-align: center;
}
.content-img-title .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: 600;
  text-shadow: 4px 4px 3px #060606b8;
  width: 100%;
}

/*--------------- team section --------------- */
.team-description {
  padding: 2% 1% 2% 5% !important;
}
.team-description .team-title {
  font-size: 18px !important;
  font-weight: 600;
}

/*--------------- Expertise section --------------- */
.exp-des {
  padding: 2% 1% 1% 2%;
  border-radius: 14px;
  margin: 3% 0% 1% 1%;
}
.exp-des.exp-des-one {
  border: 2px solid #F147AC;
}
.exp-des.exp-des-two {
  border: 2px solid #FFE36A;
}
.exp-des.exp-des-three {
  border: 2px solid #F147AC;
}

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }
  #toggle span {
    font-size: 18px;
    font-weight: bold;
    color: #e8488b;
  }

  nav #brand {
    margin-left: 24px;
    width: 20% !important;
  }
  nav #menu {
    display: none;
    width: 55% !important;
    padding: 0 !important;
  }

  #menu a {
    font-size: 20px;
    font-weight: 300;
  }

  #resize li span {
    font-weight: bolder;
  }

  #resize li:nth-child(1) {
    margin-top: 70px !important;
  }

  .mobile-view {
    display: block !important;
  }

  .mobile-hide {
    display: none !important;
  }

  .mobile-margin {
    margin-top: 30% !important;
  }

  .delivery-one {
    margin-bottom: 10% !important;
  }
}
.mobile-view {
  display: none;
}

.mobile-hide {
  display: block;
}

@media (min-width: 768px) {
  #resize {
    visibility: hidden !important;
  }
}
/*--------------- hero section --------------- */
.hero {
  position: relative;
  padding: 7% 0 8% 0;
}

/*--------------- footer section --------------- */
.footer {
  padding: 3% 0;
  background: #58595b17;
}
.footer img {
  width: 20%;
}
.footer #address {
  padding-left: 28%;
  padding-top: 2%;
}
.footer #address p {
  font-size: 17px;
  font-weight: 400;
  line-height: 10px;
}

/*# sourceMappingURL=main.css.map */
